<div class="col-lg-10 mx-auto">
  <div class="card shadow mt-5">
    <h4 class="card-header">New Post</h4>
    <div class="card-body">
      <%= render 'form', posts: @posts %>
    </div>
  </div>
</div>
